*{
    margin: 0;
    padding: 0;
}
.container{
    width: 500px;
    padding: 20px;
    box-sizing: border-box;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (max-width: 500px) {

    .container{
        width: 100%;
    }
}
@media (min-width: 500px) {

    .container{
        width: 500px;
    }
}
.container>h1{
    height: 50px;
    line-height: 50px;
    text-transform: capitalize;
    font-size: 18px
}

.switch{
    width: 200px;
    height: 50px;
    box-sizing: border-box;
    position: relative;
}
.switch span{
    display: block;
    height: 100%;
    line-height: 50px;
}
.switch span.two{
    position: absolute;
    left: 0;
    top: 0;
}
.switch span.one{
    position: absolute;
    right: 0;
    top: 0;
}
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
.switch label{
    display: block;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: lightgrey;
    box-shadow: 1px 1px 2px whitesmoke , -1px -1px 2px whitesmoke;
    position: absolute;
    left:calc(50% - 50px);
    top:calc(50% - 20px);
    cursor: pointer;
}
.switch label::before{
    content: '';
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: crimson;
    left:4px;
    top:calc(50% - 15px);
    transition: all .5s ease;
}

.switch input:checked + label.slider::before{
    transform: translateX(50px);
}
.dark{
    background-color: rgba(0,0,0,.9);
}
.light{
    background-color: white;
}


